body {
  background: aliceblue;
  font-family: cursive;
}
/* scrollbar  */
html {
  scroll-behavior: smooth;
}
/*  */

/* width */

::-webkit-scrollbar {
  width: 1rem;
  height: 15px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: goldenrod;
  border-radius: 36px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #0b1c39;
}

/* End of scrollbar  */
.task-title {
  width: 90%;
  display: block;
  margin: 20px auto;
  font-size: 12pt;
  font-weight: bold;
  border-bottom: 7px solid #2b5464;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-top: 7px solid #247cff;
  text-align: center;
  align-items: center;
  font-family: "Tajawal", sans-serif;
}
.task-title:hover {
  background-color: #ddd;
  border-top: 7px solid #2b5464;
  border-bottom: 7px solid #247cff;
}
/*  */
h2 {
  background: #00000087;
  color: #fff;
  width: max-content;
  padding: 10px;
  border-radius: 1rem;
}
h2:hover {
  background: brown;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px #0000008a);
}
/* 
 */
table {
  border: 1px solid black;
  margin: auto;
  display: grid;
  align-content: center;
  justify-content: center;
}
tr td {
  border: 1px solid black;
  background: aliceblue;
  font-size: 20px;
  filter: drop-shadow(0px 0px 1px #000);
  margin: auto;
  text-align: center;
}
